#beerflight {
  display: block !important;
  position:fixed;
  bottom:0;
  right:0;
  width:100%;
  z-index: 9999;
  /*
  background: #eeeeee;
  background: -webkit-linear-gradient(#eeeeee 0%, #cccccc 100%);
  background: -o-linear-gradient(#eeeeee 0%, #cccccc 100%);
  background: linear-gradient(#eeeeee 0%, #cccccc 100%);
  */
}

button#beerflight-coaster {
  background: white;
  /* this is where whistle logo goes */
  /*background-image: url("whistle.svg") !important;*/
  background-image: url("data:image/svg+xml;charset=UTF-8,<svg id='whistle-logo' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'><style>.st0{fill:%23FFFFFF;}</style><path class='st0' d='M21.1 17.2c-.2 0-.3-.1-.4-.2-.2-.2-.3-.6 0-.9l3.8-4c.2-.2.6-.3.9 0 .2.2.3.6 0 .9l-3.8 4c-.1.2-.3.2-.5.2zm3.7-.7l4.8-5c.2-.2.2-.6 0-.9-.2-.2-.6-.2-.9 0l-4.7 5c-.2.2-.2.6 0 .9.1.1.3.2.4.2.2 0 .3 0 .4-.2zm2.9-.1l1.5-1.6c.2-.2.2-.6 0-.9-.2-.2-.6-.2-.9 0l-1.5 1.6c-.2.2-.2.6 0 .9.1.1.3.2.4.2.3 0 .4-.1.5-.2zm11.6 12.9c-.8 1.7-2.9 3.4-5.4 3.8-1.1.2-7.4.2-9 0 0 0-.4 0-.6-.1-.8-.2-1.5-.6-2-1-1.1.6-1.8 1.1-2.2 1.4-.1.1-.4.2-.9.2-1.8-.1-8.9-.5-9.4-.5-.4 0-.5-.3-.6-.4 0-.1-1.1-3.3-1.2-3.6-.1-.4-.1-.6.1-.9.2-.2 3.8-4.1 7.1-6.7 0 0 1.8-1.3 2.6-1.8s2.1-1.1 3.1-1.4c1.5-.5 4-.8 5.8-.9s4.8.3 6.8 1.1c1.3.5 1.9.8 3.1 1.6 1.9 1.2 2.8 3 3.1 4.9.3.4.5 2.3-.4 4.3zm-22.8-6.7c1-.5 2.4-1.2 3.2-1.3 2.1-.2 4.3.2 5.1.3.4-.3 1-.7 1.4-1-2.3-.6-4.4-.7-6.5-.5-1.2.6-2.6 1.7-3.3 2.3-.2.3-.1.3.1.2zM39 25c-.3-1.6-1.3-4.3-4.2-4.8-1.2-.2-2.1 0-2.5.1-3 .6-6.8 3-9.4 5.4-1.6 1.5-3.5 3.5-3.8 3.8-.2.2-.2.3-.1.5s.6 1.8.7 1.9c.1.2.3.3.6.1.3-.2 6-4.1 7-4.2.2 1.2 1.9 4.2 5.5 4.2.4 0 .9 0 1.3-.1 4.7-.9 5.2-5 4.9-6.9z'/></svg>") !important;
  background-position: center !important;
}

#beerflight-coaster span {
  visibility: hidden;
}

#beerflight-coaster:hover span {
  color: white;
  visibility: visible;
}

#beerflight-coaster {
  position: fixed;
  bottom: 5px;
  right: 0px;
}
#beerflight-paddle {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 5px 50px 5px 0;
  overflow: hidden;
}
#beerflight-paddle .group {
  float: right;
  padding-left: 15px;
}
#beerflight-paddle h1 {
  display: none;
  color: #fff;
  margin: 0 0 5px;
  font: bold 14px sans-serif;
}
#beerflight-paddle button,
#beerflight-paddle button:hover,
#beerflight-paddle button:focus,
#beerflight-paddle button:active,
#beerflight-coaster {
  margin: 0 2px;
  padding: 12px 16px;
  color: #fff !important;
  font: normal 20px/18px sans-serif;
  box-shadow: none;
  outline: none;
  border: 2px solid rgba(0,0,0,0) !important;
  border-radius: 24px;
  background: rgba(0,0,0,0.5) !important;
}
#beerflight-paddle button::-moz-focus-inner,
#beerflight-paddle button:hover::-moz-focus-inner,
#beerflight-paddle button:focus::-moz-focus-inner,
#beerflight-paddle button:active::-moz-focus-inner,
#beerflight-coaster::-moz-focus-inner {
    border: 0;
    padding: 0;
}
#beerflight-paddle button:hover,
#beerflight-coaster:hover {
  background: rgba(0,0,0,0.45) !important;
  cursor: pointer;
}
#beerflight-paddle button.beerflight-active-taster {
  border: 2px solid rgba(0,0,0,0.5) !important;
  background: none !important;
  color: rgba(0,0,0,0.5) !important;
  cursor: default;
}
#beerflight-paddle .group {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

#beerflight-coaster {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


@-webkit-keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes bounceOutRight {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }
}

@keyframes bounceOutRight {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }
}
@-webkit-keyframes whistle-fader {
  0%, 100%   { background: green; }
  50% { background: blue; }
}
@-moz-keyframes whistle-fader {
  0%, 100%   { background: green; }
  50% { background: blue; }
}
@-o-keyframes whistle-fader {
  0%, 100%   { background: green; }
  50% { background: blue; }
}
@keyframes whistle-fader {
  0%, 100%   { background: green; }
  50% { background: blue; }
}

@-webkit-keyframes coaster-fader {
  0%, 100%   { opacity: 0; }
  50% { opacity: 1; }
}
@-moz-keyframes coaster-fader {
  0%, 100%   { opacity: 0; }
  50% { opacity: 1; }
}
@-o-keyframes coaster-fader {
  0%, 100%   { opacity: 0; }
  50% { opacity: 1; }
}
@keyframes coaster-fader {
  0%, 100%   { opacity: 0; }
  50% { opacity: 1; }
}

[data-beerflight-taster], [beerflight-taster] {
  display: none;
}
