/* BASE LAYOUT STYLES */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  background: white;
  color: white;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

body > h1 { /* heading outside of demo content */
  text-align: center;
  color: yellow;
  display: none;
}

main { /* container for example layout */
  position: relative;
/*   width: 56em;
  height: 30em; */
/*   width: 90vw;
  height: 48vw; */
  width: 80vw;
  height: 43vw;
  background: white;
/*   padding: 1em; */
  padding: 1%;
  margin: 1% auto 3em; /* margin-bottom for beerflight paddle */
}

.content {
  background: #CCCCCC;
}

#header, #main-content {
/*   margin: 1em 1em 2em 19em; */
  margin: 2% 2% 3% 39%;

  display: flex;
  align-items: center;
  justify-content: center;
}

#header h2, #main-content h2 {
  font-size: 200%;
}

#header {
  background: #FF9999;
/*   height: 8em; */
  height: 31%;
}

#header h2 {
  /* */
}

#main-content {
/*   height: 18em; */
  height: 56%;
}

#sidebar {
/*   width: 16em; */
  width: 33%;
/*   height: 28em; */
  height: 88%;
  position: absolute;
/*   top: 2em; */
  top: 6%;
/*   left: 2em; */
  left: 3%;

}

.notification-card {
  position: absolute; /* normally would be fixed, if the main div filled the screen */
  box-sizing: border-box;
/*   bottom: 0.6em; */
  bottom: 1%;
/*   right: 0.6em; */
  height: 8em;
  right: 1%;
  width: 16em;
  color: #CCCCCC;
  padding: 1em;
  background-color: white;
  border: 1px solid #CCCCCC;

}

#notification-icon-area {
    position: absolute;
    /*border: 1px solid blue; */
    top: 2.4em;
    right: 2.4em;
}

#notification-bell-icon {
  /*position: absolute;
  right: 1.6em;
  top: 1.6em;*/
  font-size: 160%;
}

.notification-bubble {
    position:absolute;
    top: -2px;
    right: -2px;
    padding: 1px 4px;
    background-color:red;
    color: white;
    font-weight: bold;
    font-size: 0.55em;

    border-radius: 30px;
}

.notification-card {
  padding: 0.4em 5em 0.4em 0.4em;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(204,204,204,0.25);
  -moz-box-shadow: 5px 5px 10px 0px rgba(204,204,204,0.25);
  box-shadow: 5px 5px 10px 0px rgba(204,204,204,0.25);
}

.notification-card * {
  margin: 0;
  font-size: 110%;
}

.notification-card h3 {
  font-weight: bold;
}

/* end of BASE LAYOUT STYLES */


/* STYLES for BEER FLIGHT samples */

/* hide non-default versions - blue and notification */
.blue-version-element, .notification-version-element { /* hides the .blue- and .notfications-version stuff by default */
  display: none;
}

/* blue version */
#header.try-blue {
  background: #99CCFF; /* a blue */
}

.try-blue .blue-version-element {
  display: block; /* show blue-version specific elements when red is no longer in vogue */
}

.try-blue .red-version-element { /* hides .red-version specific elements when trying blue */
  display: none;
}

/* notification version */
.try-notification .notification-version-element {
  display: block;
}

#header.notification-version-element {
  background: white;
  color: #CCCCCC;
  justify-content: flex-start;
}

#header.notification-version-element h2 {
  display: block;
  font-weight: normal;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif
}
