html, body {
  background-color: white !important; }

.top-hat {
  background: #171717;
  color: white;
  padding: 5px; }

#main header.main {
  padding: 0 !important; }
  #main header.main .bf {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    background: url(bfs.svg) no-repeat center center/contain;
    padding: 120px 0; }
  @media only screen and (max-width: 767px) {
    #main header.main img {
      width: 90%; } }
  @media only screen and (max-width: 1023px) {
    #main header.main .meta {
      font-size: 1em !important; } }

header {
  background: linear-gradient(-90deg, #F4A019, #D84200); }

h1.entry-title {
  color: #6D3400 !important; }

.entry-title::before {
  padding-right: 0.3em; }

.meta {
  text-transform: none !important;
  letter-spacing: normal !important;
  font: normal 32px/1.5 'Merriweather', serif !important;
  margin: 0 18% !important; }

.bf-code {
  font-family: monospace; }

p.explains-code {
  padding-bottom: 0; }

pre + h2 {
  margin-top: 0.5em; }

pre + h3 {
  margin-top: 1em; }

pre + p {
  padding-top: 20px; }

.try-lighter {
  /* light tasting */
  background: linear-gradient(-45deg, #f6b44a, #ff560c);
  /*background: yellow;*/ }

.try-darker {
  /* dark tasting */
  background: linear-gradient(-135deg, #d0840a, #9d3000);
  /*background: brown;*/ }

iframe {
  border: 2px solid gray; }

li p {
  padding-bottom: 0; }

.demo-container {
  position: relative; }
  .demo-container:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 58.3333333333%; }
  .demo-container > .demo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

pre + .demo-container {
  margin-top: 4em; }

.demo-container + p {
  margin-top: 1em; }

footer#footer {
  background: #171717;
  padding: 30px 15px; }
  footer#footer * {
    color: rgba(255, 255, 255, 0.5); }
  footer#footer .whistle-logo {
    display: block; }
    @media only screen and (max-width: 767px) {
      footer#footer .whistle-logo {
        width: 100%; } }
    footer#footer .whistle-logo svg {
      display: block;
      margin: 0 auto 15px;
      width: 100px; }
  footer#footer .legal {
    font-family: 'Open Sans',sans-serif; }
  @media only screen and (min-width: 768px) {
    footer#footer .whistle-logo {
      float: left; }
    footer#footer .about {
      margin-left: 120px; }
    footer#footer .legal {
      margin-left: 120px; } }
