html, body { background-color: white !important; }

header {
  background: linear-gradient( -90deg, #F4A019, #D84200 );
}

h1.entry-title {
  color: #6D3400 !important;
}
.entry-title::before {
  // content: url(beerflight.svg);
  padding-right: 0.3em;
}
.meta {
  text-transform: none !important;
  font-size: 100% !important;
  letter-spacing: normal !important;
  font-weight: normal !important;
}

.bf-code {
  font-family: monospace;
}

// pre {
//   /*width: 30em;*/
//   /*margin: 1em auto;*/
//   /*margin-top: 0 !important;*/
//   /*padding-top: 0 !important;*/
// }

p.explains-code {
  padding-bottom: 0;
}

pre + h2 {
  margin-top: 0.5em;
}

pre + h3 {
  margin-top: 1em;
}

pre + p {
  padding-top: 20px;
}


.try-lighter { /* light tasting */
 background: linear-gradient( -45deg, #f6b44a, #ff560c );
 /*background: yellow;*/
}

.try-darker { /* dark tasting */
 background: linear-gradient( -135deg, #d0840a, #9d3000 );
 /*background: brown;*/
}


iframe {
  border: 2px solid gray;
}

li p {
  padding-bottom: 0;
}


@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .demo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.demo-container {
  @include aspect-ratio(12, 7);

}

// give a demo container a horizontal spacing break if it's following a code snippet
pre + .demo-container {
  margin-top: 4em;
}

.demo-container + p {
  margin-top: 1em;
}
