/*html, body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  box-sizing: border-box;
  width: 100vw;
  background: orange;
  color: white;
  margin: 0;
  padding: 1.6em;
  text-align: center;
  background: linear-gradient( -90deg, #F4A019, #D84200 );
}

header h1 {
  font-size: 360%;
  color: #6D3400;
}

header h2 {
  font-size: 120%;
  font-weight: normal;
}*/

header {
  background: linear-gradient( -90deg, #F4A019, #D84200 );
}

h1.entry-title {
  color: #6D3400 !important;
}
.entry-title::before {
  content: url(beerflight.svg);
  padding-right: 0.3em;
}
.meta {
  text-transform: none !important;
  font-size: 100% !important;
  letter-spacing: normal !important;
  font-weight: normal !important;
}

.bf-code {
  font-family: monospace;
}

pre {
  /*width: 30em;*/
  /*margin: 1em auto;*/
}


.try-lighter { /* light tasting */
 background: linear-gradient( -45deg, #f6b44a, #ff560c );
 /*background: yellow;*/
}

.try-darker { /* dark tasting */
 background: linear-gradient( -135deg, #d0840a, #9d3000 );
 /*background: brown;*/
}
